body {
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    
    
}
.br {
    background-color: red;
}
.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

@media (max-width: 990px) {
  .container {
        
        padding-left: none;
        padding-right: none;
    }
}

    @media (max-width: 990px) {
        .container {
            padding-left: 0px;
        }
    }

.container {
    max-width: 1400px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;
    margin-right: 0px;

}


.box {
    background-color: red;
}

img {
    object-fit: cover;
}



